body {
  position: absolute;
  background-color: #a1c181;
  font-size: 16px;
}

#header-nav {
  background-color: #fcca46;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 30px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Verdana', serif;
  color: #619b8a;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #FFBD9B;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #619B8A;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #FCCA46;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #233D4D;
  border: 1px solid #619B8A;

}
#nav-list a:hover {
  background: #FE7F2D;
}
#nav-list a span {
  font-size: 1.8em;
}

.container {
  width: 95%;
  
}

.row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  position: relative;
}

h2 {
  padding-bottom: 25px;
  font-weight: bold;
  color: #233D4D;
  font-size: 2em
}
.section{
  background: #233d4d;
  box-shadow: 0 0 15px black;
  margin: 0 auto 30px;
  position: relative;

}

.Texto {
  color: white;

}

#name1 {
  color: #FCCA46;
  font-weight: bold;
  font-size: 1.3em;
}

#name2 {
  color: #FCCA46;
  font-weight: bold;
  font-size: 1.3em;
}

#name3{
  color: #FCCA46;
  font-weight: bold;
  font-size: 1.3em;
}

